<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
</head>
<body>

            <span class="updateProducts">
            <p><b> Update Product Price</b></p>
            <form action="#" th:action="@{/api/products/update}" method="post" th:object="${product}">
               <table>
                  <tr>
                     <td>Id:</td>
                     <td><input type="text" th:field="*{id}"/></td>
                  </tr>
                  <tr>
                     <td>currentPrice</td>
                     <td><input type="text" th:field="*{currentPrice}"/></td>
                  </tr>
                  <tr>
                     <td>timestamp</td>
                     <td><input type="text" th:field="*{timestamp}"/></td>
                  </tr>
               </table>
                <p><tr><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></tr></p>
            </form>
         </span>
<br>

</body>
</html>